# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Coverage directory used by tools like istanbul
coverage
.eslintcache

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# OSX
.DS_Store

release/app/dist
release/build
.erb/dll

.idea
npm-debug.log.*
*.css.d.ts
*.sass.d.ts
*.scss.d.ts
*.tsbuildinfo

log.txt
warp-plus*.zip
masque-plus*.zip
assets/bin
stuff
ca.psiphon.PsiphonTunnel.tunnel-core
oblivion-helper*.zip
zag-netStats*.zip
proxy-reset*.zip