@font-face {
    font-family: 'Noto Color Emoji';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../font/noto/NotoColorEmoji-Regular0.woff2') format('woff2');
    unicode-range: U+1f1e6-1f1ff;
}
