@font-face {
	font-family: shabnam;
	src: url('../font/shabnam/Shabnam-Thin.eot');
	src: url('../font/shabnam/Shabnam-Thin.eot?#iefix') format('embedded-opentype'),
	url('../font/shabnam/Shabnam-Thin.woff') format('woff'),
	url('../font/shabnam/Shabnam-Thin.ttf') format('truetype');
	font-weight: 100;
}

@font-face {
	font-family: shabnam;
	src: url('../font/shabnam/Shabnam-Light.eot');
	src: url('../font/shabnam/Shabnam-Light.eot?#iefix') format('embedded-opentype'),
	url('../font/shabnam/Shabnam-Light.woff') format('woff'),
	url('../font/shabnam/Shabnam-Light.ttf') format('truetype');
	font-weight: 200;
}

@font-face {
	font-family: shabnam;
	src: url('../font/shabnam/Shabnam.eot');
	src: url('../font/shabnam/Shabnam.eot?#iefix') format('embedded-opentype'),
	url('../font/shabnam/Shabnam.woff') format('woff'),
	url('../font/shabnam/Shabnam.ttf') format('truetype');
	font-weight: 300;
}

@font-face {
	font-family: shabnam;
	src: url('../font/shabnam/Shabnam-Medium.eot');
	src: url('../font/shabnam/Shabnam-Medium.eot?#iefix') format('embedded-opentype'),
	url('../font/shabnam/Shabnam-Medium.woff') format('woff'),
	url('../font/shabnam/Shabnam-Medium.ttf') format('truetype');
	font-weight: 400;
}

@font-face {
	font-family: shabnamDigits;
	src: url('../font/shabnam/Shabnam-Medium-FD-WOL.eot');
	src: url('../font/shabnam/Shabnam-Medium-FD-WOL.eot?#iefix') format('embedded-opentype'),
	url('../font/shabnam/Shabnam-Medium-FD-WOL.woff') format('woff'),
	url('../font/shabnam/Shabnam-Medium-FD-WOL.ttf') format('truetype');
	font-weight: 400;
}

@font-face {
	font-family: shabnam;
	src: url('../font/shabnam/Shabnam-Bold.eot');
	src: url('../font/shabnam/Shabnam-Bold.eot?#iefix') format('embedded-opentype'),
	url('../font/shabnam/Shabnam-Bold.woff') format('woff'),
	url('../font/shabnam/Shabnam-Bold.ttf') format('truetype');
	font-weight: 900;
}