body {
    font: 300 17px shabnam;
    background: #fff;
    color: #4c4b4b;
    line-height: 20px;
    word-wrap: break-word;
    position: relative;
    transition: all 0.2s ease-in-out;
}
[data-bs-theme="dark"] body {
    background: #0A0E24;
    color: #DCDCDC;
}
body:before {
    height: 40vh;
    background: linear-gradient(#ffde06 0%, rgba(128, 128, 128, 0) 100%);
    opacity: 0.2;
    content: "";
    float: right;
    width: 100%;
    position: absolute;
    transition: all 0.2s ease-in-out;
}
[data-bs-theme="dark"] body:after {
    background: linear-gradient(#ffde06 0%, rgba(128, 128, 128, 0) 100%);
}

.dirLeft {
  direction: ltr;
  text-align: left;
}
.dirRight {
  direction: rtl;
  text-align: right;
}

nav {
    float: right;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px 0;
    transition: all 0.2s ease-in-out;
    z-index: 2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
nav.isSticky {
    background: rgba(253, 248, 209, 0.9);
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
    backdrop-filter: blur(5px);
    --webkit-backdrop-filter: blur(5px);
}
[data-bs-theme="dark"] nav.isSticky {
    background: rgba(53, 50, 33, 0.9);
}
nav i {
    color: #676767;
    font-size: 30px!important;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
[data-bs-theme="dark"] nav i {
    color: #DCDCDC;
}
nav i:hover {
    color: #4f4f4f;
}
[data-bs-theme="dark"] nav i:hover {
    color: #eaeaea;
}
nav i.log {
    color: #A1A1A1;
    margin-right: 15px;
}
nav i.log:hover {
    color: #E15959;
}
[data-bs-theme="dark"] nav i.log:hover {
    color: #ed6a6a;
}
nav h3 {
    font-size: 25px;
    font-weight: 200;
    color: #303030;
    margin: 1px 0 0 0;
    float: right;
}
[data-bs-theme="dark"] nav h3 {
    color: #DCDCDC;
}
nav i.backBtn {
    font-size: 30px;
    float: left;
}
nav i.backBtn:hover {
    color: #1058FF;
}

::-webkit-scrollbar {
    background: #fff;
    width: 7px;
    height: 3px;
}
::-webkit-scrollbar-thumb {
    background: rgba(253, 248, 209, 0.9);
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(236, 230, 184);
}
[data-bs-theme="dark"] ::-webkit-scrollbar {
    background: #212121;
}
[data-bs-theme="dark"] ::-webkit-scrollbar-thumb {
    background: rgba(53, 50, 33, 0.9);
}
[data-bs-theme="dark"] ::-webkit-scrollbar-thumb:hover {
    background: rgb(83, 78, 54);
}

.container {
    max-width: 400px;
}

.myApp {
    float: right;
    width: 100%;
}
.myApp.normalPage {
    margin: 80px 0 25px 0;
    z-index: 1;
    position: relative;
}
.myApp.normalPage p {
    float: right;
    width: 100%;
    line-height: 26px;
    font-weight: 300;
    font-size: 15px;
}

.verticalAlign {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.homeScreen {
    float: right;
    width: 100%;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: right;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-content: center;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.homeScreen h1 {
    float: right;
    width: 100%;
    color: #707070;
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    margin: 0;
    padding: 0;
}
[data-bs-theme="dark"] .homeScreen h1 {
    color: #c5c5c5;
}
.homeScreen h2 {
    float: right;
    width: 100%;
    padding: 0;
    color: #FFA200;
    font-size: 25px;
    font-weight: 300;
    text-align: right;
    margin: 0;
}
[data-bs-theme="dark"] .homeScreen h2 {
    color: #FFA200;
}
@media screen and (min-width: 600px) {
    .homeScreen h2 {
        text-align: center;
    }
}

.homeScreen form {
    float: right;
    width: 100%;
}
.homeScreen form .connector {
    margin: auto;
    float: right;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.homeScreen form .connector .switch {
    border-radius: 50px;
    background: #D9D9D9;
    width: 175px;
    height: 75px;
    margin: 100px 0 50px 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.11);
    float: right;
    position: relative;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
[data-bs-theme="dark"] .homeScreen form .connector .switch {
    background: #333643;
}
.homeScreen form .connector .switch.active {
    background: #FFAD0A;
}
.homeScreen form .connector .switch .circle {
    width: 65px;
    height: 65px;
    background: #fff;
    position: absolute;
    left: 5px;
    top: 5px;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
}
.homeScreen form .connector .switch.active .circle {
    left: calc(100% - 70px);
}
.homeScreen form .connector .switch.isLoading {
    cursor: wait;
}
.homeScreen form .connector .switch.isLoading .circle .spinner {
    animation: spinner 0.8s linear infinite;
    border: 4px solid #9B9B9B;
    border-right-color: transparent;
    border-radius: 100%;
    display: inline-block;
    position: relative;
    overflow: hidden;
    text-indent: -9999px;
    vertical-align: middle;
    margin: 5px;
    width: 55px;
    height: 55px;
}
@-webkit-keyframes spinner {
    from {     transform: rotate(0deg);}
    to { transform: rotate(1turn);}
}

.homeScreen .status {
    width: 100%;
    float: right;
    text-align: center;
    color: #4B4B4B;
}
[data-bs-theme="dark"] .homeScreen .status {
    color: #DCDCDC;
}
.homeScreen .status.active {
    color: #63BC0A;
}
.homeScreen .ip {
    color: #AEAEAE;
    margin: 10px 0 0 0;
}
.homeScreen .ip img,
.homeScreen .ip svg {
    width: 17px;
    height: 12px;
    border-radius: 3px;
    margin: 0 0 0 7px;
    object-fit: cover;
}
.homeScreen .ip span {
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.homeScreen .ip span.connected {
    opacity: 1;
}

.logPage .logText {
    font-size: 14px;
    line-height: 24px;
}
.logPage .logOptions {
    float: left;
    margin: 0;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgba(253, 248, 209, 0.9);
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
    padding: 10px 15px;
    border-radius: 25px;
}
[data-bs-theme="dark"] .logPage .logOptions {
    background: rgba(53, 50, 33, 0.9);
}
.logPage .logOptions i {
    float: left;
    font-size: 20px;
    margin-right: 15px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.logPage .logOptions i:last-child {
    margin-right: 0
}
.logPage .logOptions i:hover {
    opacity: 0.7;
}

.settings {
    float: right;
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.settings .item {
    float: right;
    width: 100%;
    border-bottom: 1px solid #dcdcdc;
    transition: all 0.2s ease-in-out;
    padding: 15px 20px 15px 20px;
}
[data-bs-theme="dark"] .settings .item {
    border-color: #2B2E3B;
}
.settings .item:first-child {
    padding-top: 0;
}
.settings .item:last-child {
    border-bottom: none;
}
.settings .item .key {
    float: right;
    font-size: 22px;
    font-weight: 300;
    color: #303030;
    margin: 5px 0 0 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
[data-bs-theme="dark"] .settings .item .key {
    color: #E8E8E8;
}
.settings .item .value {
    float: left;
    margin: 0;
    width: 60%;
}
.settings .item .value span {
    float: left;
    color: #FFA200;
    margin: 6px 0 0 0;
    font-size: 22px;
    font-weight: 300;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    cursor: pointer;
    padding-top: 1px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.settings .item .value select {
    float: left;
    border: none;
    padding: 2px 0 0 0;
    background: none;
    outline: none;
    direction: ltr;
    font-size: 22px;
    font-weight: 300;
    color: #FFA200;
    cursor: pointer;
    appearance: none;
    margin: 4px 0 0 0;
}
.settings .item .value select option {
    direction: ltr;
    font-size: 18px;
    font-weight: 300;
    color: #666666;
}
.settings .item .value .checkbox {
    float: left;
    border: 3px solid #A1A1A1;
    background: transparent;
    width: 27px;
    height: 27px;
    border-radius: 4px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
[data-bs-theme="dark"] .settings .item .value .checkbox {
    border-color: #DCDCDC;
}
.settings .item .value .checkbox.checked {
    background: #FFA200;
    border-color: #FFA200;
}
.settings .item .value .checkbox i {
    float: left;
    color: #fff;
    font-size: 27px;
    margin: -3px 0 0 -3px;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    rotate: -25deg;
}
.settings .item .value .checkbox.checked i {
    opacity: 1;
    rotate: 0deg;
}
.settings .item .info {
    float: right;
    width: 100%;
    color: #717171;
    font-size: 14px;
    margin: 5px 0 0 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
[data-bs-theme="dark"] .settings .item .info {
    color: #a0a0a0;
    font-weight: 200;
}

.splashScreen {
    float: left;
    width: 100%;
    background: #fff;
    color: #4c4b4b;
    z-index: 3;
    position: absolute;
    height: 100vh;
}
[data-bs-theme="dark"] .splashScreen {
    background-color: #0A0E24;
    color: #DCDCDC;
}
.splashScreen:before {
    height: 40vh;
    background: linear-gradient(#ffde06 0%, rgba(128, 128, 128, 0) 100%);
    opacity: 0.2;
    content: "";
    float: right;
    width: 100%;
    position: absolute;
    transition: all 0.2s ease-in-out;
}
[data-bs-theme="dark"] .splashScreen:after {
    background: linear-gradient(#ffde06 0%, rgba(128, 128, 128, 0) 100%);
}
.splashScreen .splashScreenImg {
    background: transparent url("../img/splashScreen/light.png") no-repeat center center;
    background-size: 85%;
    width: 100%;
    height: 100vh;
    z-index: 4;
    position: absolute;
}
[data-bs-theme="dark"] .splashScreen .splashScreenImg {
    background-image: url("../img/splashScreen/dark.png");
}
.splashScreen .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20px;
    float: right;
    width: 100%;
}
.splashScreen .loading .spinner {
    animation: spinner 0.8s linear infinite;
    border: 2px solid #FFA200;
    border-right-color: transparent;
    border-radius: 100%;
    display: inline-block;
    overflow: hidden;
    text-indent: -9999px;
    vertical-align: middle;
    width: 18px;
    height: 18px;
}

.socialMedia {
    float: left;
    width: 100%;
    margin: 25px 0 15px 0;
}
.socialMedia .item {
    float: left;
    width: 100%;
    background: #f3f3f3;
    border-radius: 25px;
    padding: 10px;
    margin-bottom: 7px;
}
[data-bs-theme="dark"] .socialMedia .item {
    background: #252525;
}
.socialMedia a {
    color: #4c4b4b;
    transition: all 0.2s ease-in-out;
}
[data-bs-theme="dark"] .socialMedia a {
    color: #DCDCDC;
}
.socialMedia a:hover {
    color: #90610f;
}
[data-bs-theme="dark"] .socialMedia a:hover {
    color: #FFA200;
}
.socialMedia .item .icon {
    float: left;
}
.socialMedia .item .icon img {
    float: left;
    width: 25px;
    height: 25px;
    margin: 0 0 0 5px;
    border-radius: 50%;
}
.socialMedia .item .icon i {
    float: left;
    font-size: 25px;
    margin: 0 0 0 5px;
}
.socialMedia .item .host {
    float: left;
    font-size: 16px;
    padding: 4px 0 0 10px;
    opacity: 0.7;
}
.socialMedia .item .name {
    float: right;
    padding: 3px 10px 0 0;
    font-weight: 400;
    font-size: 16px;
}
.socialMedia hr {
    border-color: #dcdcdc;
    margin-top: 0;
}
[data-bs-theme="dark"] .socialMedia hr {
    border-color: #2B2E3B;
}

.dialog {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}
.dialog .dialogBg {
    position: fixed;
    width: 100%;
    height: 100vh;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.16);
    backdrop-filter: blur(4px);
    --webkit-backdrop-filter: blur(4px);
    background: rgba(0, 0, 0, 0.25);
    z-index: 2;
    top: 0;
}
[data-bs-theme="dark"] .dialog .dialogBg {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.16);
    backdrop-filter: blur(3px);
    --webkit-backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.25);
}
.dialog .dialogBox {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 3;
    border-radius: 25px 25px 0 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.16);
    padding: 10px 10px 15px 10px;
}
[data-bs-theme="dark"] .dialog .dialogBox {
    background: #14172D;
}
.dialog .dialogBox .line {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 5px 0;
}
.dialog .dialogBox .line .miniLine {
    width: 62px;
    height: 5px;
    background: #a1a1a1;
    opacity: 0.37;
    border-radius: 25px;
}
.dialog .dialogBox h3 {
    float: right;
    width: 100%;
    font-weight: 300;
    font-size: 17px;
    margin: 10px 0 20px 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
[data-bs-theme="dark"] .dialog .dialogBox h3 {
    color: #DCDCDC;
}
.dialog .dialogBox input {
    float: right;
    width: 100%;
    padding: 15px;
    height: auto;
    direction: ltr;
    font-weight: 400;
    border-width: 2px;
}
[data-bs-theme="dark"] .dialog .dialogBox input {
    background: #0A0E24;
    border-color: #486097;
    color: #FFFFFF;
}
[data-bs-theme="dark"] .dialog .dialogBox input:focus {
    border-color: #5a78bc;
}
.dialog .dialogBox .btn {
    float: left;
    padding: 10px;
    margin: 15px 0 0 0;
    border: 1px solid transparent;
    transition: all 0.2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.dialog .dialogBox .btn.btn-save {
    background: #8d8c8c;
    color: #fff;
    font-weight: 300;
}
[data-bs-theme="dark"] .dialog .dialogBox .btn.btn-save {
    background: #050920;
}
.dialog .dialogBox .btn.btn-save:hover {
    background: #7f7f7f;
}
[data-bs-theme="dark"] .dialog .dialogBox .btn.btn-save:hover {
    background: #010315;
}
.dialog .dialogBox .btn.btn-cancel {
    border-color: #acacac;
    margin-right: 10px;
    font-weight: 300;
}
[data-bs-theme="dark"] .dialog .dialogBox .btn.btn-cancel {
    border-color: #303666;
}
.dialog .dialogBox .btn.btn-cancel:hover {
    border-color: #979797;
}
[data-bs-theme="dark"] .dialog .dialogBox .btn.btn-cancel:hover {
    border-color: #464d8b;
    color: #dadada;
}