body {
    font: 300 17px shabnam;
    background: #fff;
    color: #4c4b4b;
    line-height: 20px;
    word-wrap: break-word;
    position: relative;
    transition: all 0.2s ease-in-out;
}
[data-bs-theme="dark"] body {
    background: #0A0E24;
    color: #DCDCDC;
}
body:before {
    height: 40vh;
    background: linear-gradient(#ffde06 0%, rgba(128, 128, 128, 0) 100%);
    opacity: 0.2;
    content: "";
    float: right;
    width: 100%;
    position: absolute;
    transition: all 0.2s ease-in-out;
}
[data-bs-theme="dark"] body:after {
    background: linear-gradient(#ffde06 0%, rgba(128, 128, 128, 0) 100%);
}

.dirLeft {
  direction: ltr;
  text-align: left;
}
.dirRight {
  direction: rtl;
  text-align: right;
}

nav {
    float: right;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px 0;
    transition: all 0.2s ease-in-out;
    z-index: 2;
}
nav.isSticky {
    background: rgba(253, 248, 209, 0.9);
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
    backdrop-filter: blur(5px);
    --webkit-backdrop-filter: blur(5px);
}
[data-bs-theme="dark"] nav.isSticky {
    background: rgba(53, 50, 33, 0.9);
}
nav i {
    color: #676767;
    font-size: 30px!important;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
[data-bs-theme="dark"] nav i {
    color: #DCDCDC;
}
nav i:hover {
    color: #4f4f4f;
}
[data-bs-theme="dark"] nav i:hover {
    color: #eaeaea;
}
nav i.log {
    color: #A1A1A1;
    margin-right: 15px;
}
nav i.log:hover {
    color: #E15959;
}
[data-bs-theme="dark"] nav i.log:hover {
    color: #ed6a6a;
}
nav h3 {
    font-size: 25px;
    font-weight: 200;
    color: #303030;
    margin: 1px 0 0 0;
    float: right;
}
[data-bs-theme="dark"] nav h3 {
    color: #DCDCDC;
}
nav i.backBtn {
    font-size: 30px;
    float: left;
}
nav i.backBtn:hover {
    color: #1058FF;
}

::-webkit-scrollbar {
    background: #fff;
    width: 7px;
    height: 3px;
}
::-webkit-scrollbar-thumb {
    background: rgba(253, 248, 209, 0.9);
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(236, 230, 184);
}
[data-bs-theme="dark"] ::-webkit-scrollbar {
    background: #212121;
}
[data-bs-theme="dark"] ::-webkit-scrollbar-thumb {
    background: rgba(53, 50, 33, 0.9);
}
[data-bs-theme="dark"] ::-webkit-scrollbar-thumb:hover {
    background: rgb(83, 78, 54);
}

.container {
    max-width: 400px;
}

.myApp {
    float: right;
    width: 100%;
}
.myApp.normalPage {
    margin: 80px 0 0 0;
    z-index: 1;
    position: relative;
}

.verticalAlign {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.homeScreen {
    float: right;
    width: 100%;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: right;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-content: center;
}
.homeScreen h1 {
    float: right;
    width: 100%;
    color: #707070;
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    margin: 0;
    padding: 0;
}
[data-bs-theme="dark"] .homeScreen h1 {
    color: #c5c5c5;
}
.homeScreen h2 {
    float: right;
    width: 100%;
    padding: 0;
    color: #FFA200;
    font-size: 25px;
    font-weight: 300;
    text-align: right;
    margin: 0;
}
[data-bs-theme="dark"] .homeScreen h2 {
    color: #FFA200;
}
@media screen and (min-width: 600px) {
    .homeScreen h2 {
        text-align: center;
    }
}

.homeScreen form {
    float: right;
    width: 100%;
}
.homeScreen form .connector {
    margin: auto;
    float: right;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.homeScreen form .connector .switch {
    border-radius: 50px;
    background: #D9D9D9;
    width: 175px;
    height: 75px;
    margin: 100px 0 50px 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.11);
    float: right;
    position: relative;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
[data-bs-theme="dark"] .homeScreen form .connector .switch {
    background: #333643;
}
.homeScreen form .connector .switch.active {
    background: #FFAD0A;
}
.homeScreen form .connector .switch .circle {
    width: 65px;
    height: 65px;
    background: #fff;
    position: absolute;
    left: 5px;
    top: 5px;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
}
.homeScreen form .connector .switch.active .circle {
    left: calc(100% - 70px);
}
.homeScreen form .connector .switch.isLoading {
    cursor: wait;
}
.homeScreen form .connector .switch.isLoading .circle .spinner {
    animation: spinner 0.8s linear infinite;
    border: 4px solid #9B9B9B;
    border-right-color: transparent;
    border-radius: 100%;
    display: inline-block;
    position: relative;
    overflow: hidden;
    text-indent: -9999px;
    vertical-align: middle;
    margin: 5px;
    width: 55px;
    height: 55px;
}
@-webkit-keyframes spinner {
    from {     transform: rotate(0deg);}
    to { transform: rotate(1turn);}
}

.homeScreen .status {
    width: 100%;
    float: right;
    text-align: center;
    color: #4B4B4B;
}
[data-bs-theme="dark"] .homeScreen .status {
    color: #DCDCDC;
}
.homeScreen .status.active {
    color: #63BC0A;
}
.homeScreen .ip {
    color: #AEAEAE;
    margin: 10px 0 0 0;
}
.homeScreen .ip img,
.homeScreen .ip svg {
    width: 17px;
    height: 12px;
    border-radius: 3px;
    margin: 0 0 0 7px;
    object-fit: cover;
}

.logPage .logText {
    font-size: 14px;
    line-height: 24px;
}
.logPage .logOptions {
    float: right;
    width: 100%;
    margin: 0 0 20px 0;
}
.logPage .logOptions i {
    float: right;
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.logPage .logOptions i:hover {
    opacity: 0.7;
}
